body {
    background-color:darkblue;
}

h1 {
    text-align: center;
    color: white;
}
h3 {
    text-align: center;
    color: white;
}

img {
    background-color: teal;
}

img:hover {
    background-color: white;
}